
/* Banner */
.bgr-banner{
    background: linear-gradient(to right,#FFF5BE,#D0F7EA);
}
.bgr_banner_small1{
    background: linear-gradient(to right,#B5FFE7,#FDC1C1);
}

.bgr_login{
    background: linear-gradient(to right,#FEB6B6,#B7E1FF);
}