
<div>
    <div 
        class="
            max-w-[1290px] mx-auto flex justify-between w-full
            h-auto py-[40px] gap-[150px] 
        "
    >
        <div class="w-[30%]">
            <a href="index.html" class="flex items-center gap-1 ">
                <img src="../../images/logo.png" alt="EduPress Logo" class="w-[40px] h-[30px]">
                <p class="font-[Exo] font-bold text-[28px]">EduPress</p>
            </a>
            <p class="mt-[20px] font-regular text-[16px] text-[#555555] text-justify">
                Edupress là nền tảng học trực tuyến giúp kết nối học sinh với giáo viên uy tín,
                cung cấp các khóa học online chất lượng cao cho học sinh THPT.
            </p>
        </div>
        <div class="w-[70%] flex justify-between">
            <div class="w-full">
                <h3 class="text-[#000000] font-semibold text-[20px] pt-[5px] mb-[20px]">Hỗ trợ</h3>
                <ul class="leading-[40px]">
                    <li 
                        class="
                            text-[#555555] text-[16px] font-regular transform
                            transition-all duration-300 ease-in-out hover:text-[#FF782D] cursor-pointer
                            hover:pl-[10px] hover:underline
                        "
                    >Liên hệ</li>
                    <li 
                        class="
                            text-[#555555] text-[16px] font-regular transform
                            transition-all duration-300 ease-in-out hover:text-[#FF782D] cursor-pointer
                            hover:pl-[10px] hover:underline
                        "
                    >Hỏi đáp thường gặp (FAQ)</li>
                    <li 
                        class="
                            text-[#555555] text-[16px] font-regular transform
                            transition-all duration-300 ease-in-out hover:text-[#FF782D] cursor-pointer
                            hover:pl-[10px] hover:underline
                        "
                    >Chính sách & Điều khoản</li>
                </ul>
            </div>
            <div class="w-full">
                <h3 class="text-[#000000] font-semibold text-[20px] pt-[5px] mb-[20px]">Chương trình học</h3>
                <ul class="leading-[40px]">
                    <li 
                        class="
                            text-[#555555] text-[16px] font-regular transform
                            transition-all duration-300 ease-in-out hover:text-[#FF782D] cursor-pointer
                            hover:pl-[10px] hover:underline
                        "
                    >Phát triển Web</li>
                    <li 
                        class="
                            text-[#555555] text-[16px] font-regular transform
                            transition-all duration-300 ease-in-out hover:text-[#FF782D] cursor-pointer
                            hover:pl-[10px] hover:underline
                        "
                    >Khoa học Dữ liệu</li>
                    <li 
                        class="
                            text-[#555555] text-[16px] font-regular transform
                            transition-all duration-300 ease-in-out hover:text-[#FF782D] cursor-pointer
                            hover:pl-[10px] hover:underline
                        "
                    >Ứng dụng Di động</li>
                    <li 
                        class="
                            text-[#555555] text-[16px] font-regular transform
                            transition-all duration-300 ease-in-out hover:text-[#FF782D] cursor-pointer
                            hover:pl-[10px] hover:underline
                        "
                    >Tất cả chương trình</li>
                </ul>
            </div>
            <div class="w-full">
                <h3 class="text-[#000000] font-semibold text-[20px] pt-[5px] mb-[20px]">Liên hệ</h3>
                <div class="leading-[30px]">
                    <p class="text-[#555555] font-regular text-[16px]">Địa chỉ: 1235 Đường mới, Quận Bình Tân, TP. Hồ Chí Minh</p>
                    <p class="text-[#555555] font-regular text-[16px]">Điện thoại: (0123) 456-789 </p>
                    <p class="text-[#555555] font-regular text-[16px]">Email: hotro@edupress.vn</p>
                </div>
                <div class="flex gap-[10px] items-center mt-[20px]">
                    <i class="
                        fa-brands fa-facebook text-[#555555] text-[20px] cursor-pointer
                        transform transition-all ease-in-out duration-300 hover:text-[#FF782D]
                    "></i>
                    <i class="
                        fa-brands fa-instagram text-[#555555] text-[20px] cursor-pointer
                        transform transition-all ease-in-out duration-300 hover:text-[#FF782D]
                    "></i>
                    <i class="
                        fa-brands fa-youtube text-[#555555] text-[20px] cursor-pointer
                        transform transition-all ease-in-out duration-300 hover:text-[#FF782D]
                    "></i>
                    <i class="
                        fa-brands fa-pinterest text-[#555555] text-[20px] cursor-pointer
                        transform transition-all ease-in-out duration-300 hover:text-[#FF782D]
                    "></i>
                    <i class="
                        fa-brands fa-twitter text-[#555555] text-[20px] cursor-pointer
                        transform transition-all ease-in-out duration-300 hover:text-[#FF782D]
                    "></i>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-[1290px] mx-auto">
        <hr class="w-full h-[1px] bg-[#555555] opacity-10 "/>
        <p class="text-[16px] font-regular text-[#555555] text-center py-[10px]">© 2025 EduPress | Nền tảng học trực tuyến nghề nghiệp & công nghệ</p>
    </div>
</div>